.body {width: 100%;}
.container-1 { width: 100%;}
.header {width: 80%; height: 36px; 
    margin: 67px auto; 
    display: flex; 
    justify-content: space-between;
    align-items: center;}
.navigation {display: flex; justify-content: space-between; width: 500px; }
.nav_list { font-family: Lato; color: #3D37F1; font-size: 20px;}
.section-1 {width: 100%;}
.container-2 {
             display: flex;
             align-items: center;
             margin: 150px auto;
             width: 80%;
             justify-content: space-between;
            }
.left-block {width: 40%; display: flex; flex-direction: column;}
.left-block-header {font-family: Lato;
                    font-size: 40px;
                    color: #534D4D; 
                margin-bottom: 42px;}
.left-block-paragraph {font-family: Roboto; font-size: 10px; color: #534D4D; margin-bottom: 80px;}
.buttom-wave {width: 200px; 
    height: 40px;
    background-color: #3D37F1; 
    border-radius: 38px; 
    display: flex; 
    align-items: center;
    justify-content: space-evenly;}
.buttom-wave-p {font-family: Poppins; font-size: 15px; color: #FFFFFF;}
.right-block {width: 40%;}
.right-block-pic {width: 500px;}
.section-2 {width: 100%;  background-color: #A5A2F6; height: 1000px;}
.section-2-header {width: 400px;   margin: 0 auto; text-align: center; height: 125px;} 
.section-2-h2 {font-family: Lato; font-size: 15px; color: #747474; margin-top: 60px; position: absolute; z-index: 1; width:400px;}
.section-2-h3 {font-family: Lato; font-size: 25; color: #5A5454; margin-top: 87px; position: absolute; z-index: 2; width:400px;}
.section-2-p {font-family: Roboto; font-size: 13px; color: #747474; margin-top: 110px; position: absolute; z-index: 3; width: 400px;}



