.body {width: 100%;}
.container-1 { width: 100%; height: 1187px;}
.header {width: 80%; height: 36px; 
    margin: 67px auto; 
    display: flex; 
    justify-content: space-between;
    align-items: center;}
.navigation {display: flex; justify-content: space-between; width: 500px; }
.nav_list { font-family: Lato; color: #3D37F1; font-size: 20px;}